In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("./criteo_data/criteo-uplift-v2.1.csv")

In [10]:
df['treatment'].value_counts(normalize=True)

1    0.85
0    0.15
Name: treatment, dtype: float64

In [3]:
# 1 percent of data
X_data = df.drop(columns = ["conversion"])
y_data = df[["conversion"]]
_, X_sample, _, y_sample = train_test_split(X_data, y_data, test_size = 0.05, random_state = 0, stratify = X_data[["treatment"]])

In [4]:
X_sample

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,visit,exposure
3028168,22.478962,10.059654,8.214383,4.679882,10.280525,4.115453,-1.288207,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0
1889203,21.842794,10.059654,8.214383,4.679882,10.280525,4.115453,-3.282109,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0
2536146,26.168970,10.059654,8.214383,4.679882,10.280525,4.115453,-9.864621,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0
9491608,22.212511,10.059654,8.214383,4.679882,10.280525,4.115453,-9.404879,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0
4931957,25.685535,10.059654,8.214383,4.679882,10.280525,4.115453,-7.011752,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12221019,21.295281,10.059654,8.214383,4.679882,10.280525,4.115453,-5.987667,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0
7297840,12.616365,10.059654,8.729708,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0
2061954,21.458890,10.059654,8.605658,4.679882,12.841576,3.013064,-7.822229,11.127637,3.775827,38.902612,6.065504,-0.168679,1,0,0
2341211,26.535509,10.059654,8.214383,4.679882,10.280525,4.115453,-5.987667,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0
7020177,23.656266,10.059654,8.214383,4.679882,10.280525,4.115453,-10.647897,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0

In [5]:
y_sample

          conversion
3028168            0
1889203            0
2536146            0
9491608            0
4931957            0
...              ...
12221019           0
7297840            0
2061954            0
2341211            0
7020177            0

[698980 rows x 1 columns]

In [7]:
sampled_df = pd.merge(X_sample, y_sample, left_index = True, right_index = True)

In [8]:
sampled_df

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,visit,exposure,conversion
3028168,22.478962,10.059654,8.214383,4.679882,10.280525,4.115453,-1.288207,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
1889203,21.842794,10.059654,8.214383,4.679882,10.280525,4.115453,-3.282109,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
2536146,26.168970,10.059654,8.214383,4.679882,10.280525,4.115453,-9.864621,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
9491608,22.212511,10.059654,8.214383,4.679882,10.280525,4.115453,-9.404879,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
4931957,25.685535,10.059654,8.214383,4.679882,10.280525,4.115453,-7.011752,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12221019,21.295281,10.059654,8.214383,4.679882,10.280525,4.115453,-5.987667,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
7297840,12.616365,10.059654,8.729708,4.679882,10.280525,4.115453,0.294443,4.833815,3.955396,13.190056,5.300375,-0.168679,1,0,0,0
2061954,21.458890,10.059654,8.605658,4.679882,12.841576,3.013064,-7.822229,11.127637,3.775827,38.902612,6.065504,-0.168679,1,0,0,0
2341211,26.535509,10.059654,8.214383,4.679882,10.280525,4.115453,-5.987667,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
7020177,23.656266,10.059654,8.214383,4.679882,10.280525,4.115453,-10.647897,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0

In [11]:
sampled_df['treatment'].value_counts(normalize=True)

1    0.85
0    0.15
Name: treatment, dtype: float64

In [9]:
# Output data
sampled_df.to_csv("./criteo_data/sampled_df.csv")